._404_page{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

._404_page  img{ width:100%;}

._404_bg{
 
 background-image: url('/assets/Images/404_animation.gif');
 height: 400px;
 background-position: center;
 }
 
 
 ._404_bg h1{
 font-size:80px;
 }