<section class="_404_page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="_404_bg">
                        <h1 class="text-center">404</h1>
                    </div>
                    <div class="contant_box_404">
                        <h3 class="h2">
                            Not avaible!
                        </h3>
                        <p>the page you are looking for not avaible!</p>
                        <a routerLink="/Dashboard" class="btn btn-info">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>